svg
    border: solid blue 1px
    display: block
    margin: 1em auto

@media only screen and (max-device-width: 480px)

mat-panel-description
    visibility: hidden
mat-expansion-panel-header
    padding-top: 5px
    height: 100%
