<div class=container>
    <span class="sub-header">
        <div class="t2">Data Structures</div>
    </span>

    <div class="linebreak"></div>
    <div class='summary'>
        <!-- <avl-svg></avl-svg> -->
        <app-array></app-array>

        <br>
        <div class='linebreak'></div>

        <app-linkedlists></app-linkedlists>
        <br>
        <div class='linebreak'></div>
        <app-avltree></app-avltree>
        <br>
        <div class='linebreak'></div>
        <app-heap></app-heap>
    </div>