<h2>Python Data</h2>

<div>
    <h2>Interactive Bar Chart (Mean Probability Comparison)</h2><br>
    <h3><a href="https://github.com/robertocannella/InteractiveBarChart/blob/master/main.py">code</a></h3>

    <video width="80%" controls>
        <source src=" ../../assets/movies/mean_comparison.mov" type="video/mp4">

        Your browser does not support the video tag.
    </video>
</div>


<div>
    Normal distribution data plotted against multiple distribution types<br>

    <video width="80%" controls>
        <source src="../../assets/movies/animated_dist.mov" type="video/mp4">

        Your browser does not support the video tag.
    </video>
</div>
<div>

    Normal distribution data plotted against uniform distribution data<br>

    <video width="80%" controls>
        <source src="../../assets/movies/normal_vs_uniform_dist.mp4" type="video/mp4">

        Your browser does not support the video tag.
    </video>

</div>