<h2>{{ title }}</h2>

<a href='https://en.wikipedia.org/wiki/Array_data_structure'>A Linked List</a> is a collection of nodes which together
represent a sequence. Each element's location in memory is trivial due to the fact that each element(or node) contains a
pointer to the next node in the sequence. This maintains some order, or more acurately a way to search the list for
common tasks such as insert, remove, find, etc. The
tool
below, created dynamically with d3.js, helps portray a linked list's inner workings.
<br>
<br>I am currently implementing insert
and remove SVG animations.
<div class='linebreak-light'></div>
<!-- <button mat-button color='primary' [matMenuTriggerFor]="menu">Sort</button>
<mat-menu #menu="matMenu" [attr.disabled]="buttons ? null:'true'">
    <button mat-menu-item [attr.disabled]="buttons ? null:'true'" (click)="update()"
        aria-label="Bubble Sort Button">Bubble Sort</button>
    <button mat-menu-item [attr.disabled]="_buttons ? null :'true'" (click)="selectionSort()"
        aria-label="Selection Sort Button">Selection Sort</button>
    <button mat-menu-item [attr.disabled]="_buttons ? null : 'true'" (click)="insertionSort()"
        aria-label="Insertion Sort Button">Insertion Sort</button>
    <button mat-menu-item [attr.disabled]="_buttons ? null : 'true'" (click)="shellSort()"
        aria-label="Shell Sort Button">Shell Sort</button>

    <button mat-menu-item [attr.disabled]="_buttons ? null : 'true'" (click)="mergeSort()"
        aria-label="Merge Sort Button">Merge Sort</button>
</mat-menu> -->
<button [attr.disabled]="_buttons ? null : 'true'" mat-button color="primary" (click)="addLast()"
    style="touch-action: manipulation;" aria-label="Add Button">
    Add Last
</button>
<button [attr.disabled]="_buttons ? null:'true'" mat-button color="primary" (click)="deleteLast()"
    style="touch-action: manipulation;" aria-label="Remove Button">
    Remove Last
</button>

<!-- <button mat-button color="primary" (click)="showAddLast()" aria-label="Random Button">
    Show
</button> -->
<button mat-button color='primary' [matMenuTriggerFor]="menu">Remove At</button>
<mat-menu #menu="matMenu" [attr.disabled]="_buttons ?null:'true'">
    <div *ngIf="this.linkedList.getSize() == 0">
        Empty List
    </div>
    <div *ngFor="let currentNode of dataset; let i = index">
        <button [attr.disabled]="_buttons ?null:'true'" mat-menu-item type="button"
            (click)="removeAt(currentNode.value)">{{i}} : {{ currentNode.value }}</button>
    </div>
    <!--
    <button mat-menu-item [attr.disabled]="_buttons ? null : 'true'" (click)="traverse()"
        aria-label="Counting Sort Button">Counting Sort</button>
    <button mat-menu-item [attr.disabled]="_buttons ? null : 'true'" (click)="traverse()"
        aria-label="Bucket Sort Button">Bucket Sort</button> -->
</mat-menu>
<div id='svg-linked-lists' style="border:1px solid grey;overflow:scroll;text-align:center">

</div>