<h2>{{ title }}</h2>
<div class='linebreak-light'></div>
<button mat-button color="primary" (click)="btnfunc()" aria-label="Add Button">
    Add
</button>
<button mat-button color="primary" (click)="btnfunc2()" aria-label="Remove Button">
    Remove
</button>
<button mat-button color="primary" (click)="btnfunc3()" aria-label="Random Button">
    Random
</button>
<div id='svg-linked-lists' style="border:1px solid grey;overflow:scroll;text-align:center">
    <!-- <div id='vec-scale-val-span'></div>  
    <div id='vec-scale-x-span'></div>
    <div id='vec-scale-y-span'></div> -->
</div>