<a href='https://leetcode.com/problems/squares-of-a-sorted-array/'>
    <h3>Squares of a Sorted Array</h3>
</a>
<div class="linebreak-light"></div>
<app-sorted-squares-stage [pushZeroButton]="pushZeroButton" [pushNegativeButton]="pushNegativeButton"
    [approach]="approachStage1">
</app-sorted-squares-stage>
<div class="linebreak-light"></div>
<app-sorted-squares-stage [pushZeroButton]="pushZeroButton" [pushNegativeButton]="pushNegativeButton"
    [approach]="approachStage2">
</app-sorted-squares-stage>