<div class="container">
    <h1>
        <fa-icon icon="filter"></fa-icon>&nbsp;
        Google Colab Data Science Notebooks
    </h1>
    <mat-nav-list>
        <a href="https://colab.research.google.com/drive/13CoavTVgi-Xp1JI3i8K12vBz4B0lDnsU?usp=sharing" target="_blank"
            rel="noopener noreferrer">
            <mat-list-item>
                Beyond Data Processing
            </mat-list-item>
        </a>
        <a href="https://colab.research.google.com/drive/1rJDxiqGn-qGt2jhB-TeRAhVDoJk9RXec?usp=sharing" target="_blank"
            rel="noopener noreferrer">
            <mat-list-item>
                Pandas Data Processing
            </mat-list-item>
        </a>
        <a href="https://colab.research.google.com/drive/1hw3R4zBpBmpMdnxy7w7JXz81t53MWAHF?usp=sharing" target="_blank"
            rel="noopener noreferrer">
            <mat-list-item>
                Pandas DataFrames
            </mat-list-item>
        </a>
        <a href="https://colab.research.google.com/drive/1EHI4RYEtqbiz0Bm9g3sa6hdYVEHwighX?usp=sharing" target="_blank"
            rel="noopener noreferrer">
            <mat-list-item>
                Pandas Series
            </mat-list-item>
        </a>
        <a href="https://colab.research.google.com/drive/1U5mmXg2Tj8vHoaa7nk_yBrWP8u1Z3MHD?usp=sharing" target="_blank"
            rel="noopener noreferrer">
            <mat-list-item>
                NumPy
            </mat-list-item>
        </a>
        <a href="https://colab.research.google.com/drive/1LabC8zrFDpIMGG8KeYKI6Hfif56hqVHM?usp=sharing" target="_blank"
            rel="noopener noreferrer">
            <mat-list-item>
                python REGEX
            </mat-list-item>
        </a>

    </mat-nav-list>
</div>