<div class="container">
    <span class="sub-header">
        <div class="t2">Data Science Notebooks</div>
    </span>
    <div class="linebreak"></div>
    <mat-list>
        <mat-list-item class="content-list-item">
            <a href="https://colab.research.google.com/drive/1U8iOlBeYL_MJQLONdBN_YF5OQV64aBxe?usp=sharing"
                target="_blank" rel="noopener noreferrer">
                Pandas/Seaborn Visualization</a>
        </mat-list-item>
        <mat-list-item class="content-list-item">
            <a href="https://colab.research.google.com/drive/1fzuRbR-bXqGspakjNO9rGFARtExTtcy0?usp=sharing"
                target="_blank" rel="noopener noreferrer">
                Matplotlib Advanced Plotting</a>
        </mat-list-item>
        <mat-list-item class="content-list-item">
            <a href="https://colab.research.google.com/drive/1K3L9RLtrw6QeQOVQRsP6GTSGzu5jbfhg?usp=sharing"
                target="_blank" rel="noopener noreferrer">
                Matplotlib Archictecture
            </a>
        </mat-list-item>
        <mat-list-item class="content-list-item">
            <a href="https://mooctools.ai.umich.edu/multimeasure/424-visualization-wheel-practice/67-structure-of-a-supercell/99c9a9cd4950a24558deb7e89e76137c711cf0ef/"
                target="_blank" rel="noopener noreferrer">
                Visualization Wheel </a>
        </mat-list-item>
        <mat-list-item class="content-list-item">
            <a href="https://colab.research.google.com/drive/13CoavTVgi-Xp1JI3i8K12vBz4B0lDnsU?usp=sharing"
                target="_blank" rel="noopener noreferrer">
                Statistical Testing </a>
        </mat-list-item>
        <mat-list-item class="content-list-item">
            <a href="https://colab.research.google.com/drive/1rJDxiqGn-qGt2jhB-TeRAhVDoJk9RXec?usp=sharing"
                target="_blank" rel="noopener noreferrer">
                Pandas Data Processing </a>
        </mat-list-item>
        <mat-list-item class='content-list-item'>
            <a href="https://colab.research.google.com/drive/1hw3R4zBpBmpMdnxy7w7JXz81t53MWAHF?usp=sharing"
                target="_blank" rel="noopener noreferrer">
                Pandas DataFrames </a>
        </mat-list-item>
        <mat-list-item class="content-list-item">
            <a href="https://colab.research.google.com/drive/1EHI4RYEtqbiz0Bm9g3sa6hdYVEHwighX?usp=sharing"
                target="_blank" rel="noopener noreferrer">
                Pandas Series
            </a>
        </mat-list-item>
        <mat-list-item class="content-list-item">
            <a href="https://colab.research.google.com/drive/1U5mmXg2Tj8vHoaa7nk_yBrWP8u1Z3MHD?usp=sharing"
                target="_blank" rel="noopener noreferrer">
                NumPy
            </a>
        </mat-list-item>
        <mat-list-item class="content-list-item">
            <a href="https://colab.research.google.com/drive/1LabC8zrFDpIMGG8KeYKI6Hfif56hqVHM?usp=sharing"
                target="_blank" rel="noopener noreferrer">
                python REGEX
            </a>
        </mat-list-item>
    </mat-list>

</div>