
body
    margin: 0
    display: flex
    align-items: center
    justify-content: center
    min-height: 100vh
img
    max-width: 100%
    box-sizing: border-box

.mobile-container
    background-color: #fff
    box-shadow: 0 0 10px 2px #3333331a
    border-radius: 3px
    overflow: hidden
    width: 400px
    padding: 5px

header
    padding: 1rem 0rem
    display: flex
    align-items: center
    justify-content: center

header input
    font-family: inherit
    background-color: #eee
    border: none
    border-radius: 3px
    padding: 0.5rem, 1rem

header button
    color: #aaa
    background-color: #fff
    border: none
    font-size: 1.5rem
    margin-left: 10px

.fav-container
    border-radius: 3px
    background-color: #eee
    padding: .25rem 0rem
    text-align: center
    overflow: hidden
    text-align: center
    margin: .6rem
    box-shadow: 0 0 2px 2px #3333331a

.fav-container h3
    font-weight: bold
.fav-drinks
    white-space: nowrap
    height: 175px
    overflow-x: scroll
    overflow-y: hide
    padding: 0
    -webkit-overflow-scrolling: touch

.fav-drinks li
    contain: layout
    box-sizing: border-box
    white-space: pre-wrap

.fav-drinks li .clear
    border: none
    color: grey
    font-size: -0.5rem
    background-color: transparent
    position: absolute
    top: 0rem
    right: -0.3rem
    cursor: pointer
    opacity: 0
    transition-property: opacity
    transition-duration: 500ms
    transition-delay: 0s

.fav-drinks li:hover .clear
    opacity: 1

.fav-drinks img
    object-fit: cover
    border-radius: 50%
    width: 100px
    height: 100px
    padding: 4px
    background-color: #fff
    cursor: pointer
.fav-drink
    padding-left: 5px
    display: inline-block
    width: 100px
    height: 100px
    text-align: center
    background-color: #eee

.fav-drink-label
    font-size: .9rem
    display: inline-block
    white-space: normal
    overflow: hidden
    vertical-align: top

.drink
    margin: .5rem
    box-shadow: 0 0 10px 2px #3333331a
    border-radius: 3px
    overflow: hidden

.drink-header
    position: relative

.drink-header .random
    background-color: #eee
    position: absolute
    top: 1rem
    padding: .25rem 1rem
    border-top-right-radius: 3px
    border-bottom-right-radius: 3px

#btn-random
    color: #aaa
    background-color: #fff
    border: none
    font-size: 1.5rem
    margin-left: 10px

.drink img
    object-fit: cover
    object-position: top
    height: 300px
    width: 100%
.drink-body
    display: flex
    align-items: center
    justify-content: space-between
    padding: 1rem

.drink-body h4
    margin: 0
    font-weight: bold

.fav-btn
    background-color: transparent
    border: none
    font-size: 1.5rem
    color: grey
    cursor: pointer

.fav-btn.active
    color: rgb(249, 133, 210)

.search-header
    padding: 0rem 0rem
    display: flex
    align-items: center
    justify-content: center
    align-items: baseline

.search-header button
    background-color: #eee
    cursor: pointer
    position: relative

.fav-back-btn-tip
    align-items: baseline
    opacity: 0
    font-size: 1rem
    transition-property: opacity
    transition-duration: 250ms
    transition-delay: 50ms
    position: absolute

.search-header button:hover .fav-back-btn-tip
    opacity: 1

.search-drink-header
    position: relative
.search-body
    object-fit: cover
    width: 100px
    height: 100px
    padding: 4px
    background-color: #fff
    cursor: pointer

.search-drink img
    object-fit: cover
    object-position: top
    height: 300px
    width: 100%

.popup-container
    position: fixed
    display: flex
    align-items: center
    justify-content: center
    background-color: rgba(0,0 , 0,0.5)
    left: 0
    top: 0
    right: 0
    bottom: 0
    overflow: auto

.drink-popup
    background-color: #fff
    padding: 0 1rem
    border-radius: 3px
    max-width: 400px
    width: 100%
    position: absolute
    top: 4rem
.hidden
    opacity: 0
    pointer-events: none

.drink-popup h1
    text-align: center

.drink-popup .close-popup
    background-color: transparent
    border: none
    position: absolute
    top: 1rem
    right: 1rem
.ingredient-list
    list-style: none
    text-align: left

.search-back-btn-tip
    align-items: baseline
    opacity: 0
    font-size: 1rem
    transition-property: opacity
    transition-duration: 250ms
    transition-delay: 50ms
    position: absolute

.search-header button:hover .search-back-btn-tip
    opacity: 1
