<div class="mobile-container">
    <header>
        <form (ngSubmit)="getDrinksBySearch(searchTerm.value)">
            <input #searchTerm type="text">
            <button type="submit" id="search">
                <fa-icon icon="search"></fa-icon>
            </button>
        </form>
    </header>
    <div class="fav-container" *ngIf="searchActive">
        <header class="search-header">
            <h3>Search Results</h3>
            <button (click)="searchActive = !searchActive" id="fav-back-btn">
                <fa-icon icon="heart"></fa-icon>&nbsp;
                <span class="fav-back-btn-tip">Show Favorites</span>
            </button>
        </header>

        <span *ngIf='resultsEmpty'>No Results</span>
        <ul class="fav-drinks">

            <li class="fav-drink" *ngFor="let result of searchResults; let i = index"><img
                    src="{{result?.strDrinkThumb}}" alt="result?.strDrink" (click)="addDrink(result,false)">
                <span class="fav-drink-label">{{result.strDrink}}</span>
            </li>
        </ul>
    </div>
    <div class="fav-container" *ngIf="!searchActive">
        <h3>Favorite Cocktails</h3>
        <ul class="fav-drinks">
            <li class="fav-drink" *ngFor="let favDrink of favoriteDrinks; let i = index"><img
                    src="{{favDrink.strDrinkThumb}}" alt="favDrink.strDrink" (click)="addDrink(favDrink,false)">
                <span class="fav-drink-label">{{favDrink.strDrink}}</span>
                <button class="clear" (click)="removeFavorite(favDrink)">
                    <fa-icon icon="window-close"></fa-icon>
                </button>
            </li>
        </ul>
    </div>
    <div class="drinks" id="drinks">
        <div class="drink">
            <div class="drink-header">
                <span class="random" *ngIf="random">Random Cocktail</span>
                <img src={{currentDrink?.strDrinkThumb}} (click)="showDrink(currentDrink)" alt="currentDrink">
            </div>
            <div class="drink-body">
                <h4>{{currentDrink?.strDrink}}</h4>
                <button (click)="setFavorite(currentDrink)" class="fav-btn"
                    [class.active]="isInFavorites(currentDrink)">
                    <fa-icon icon="heart"></fa-icon>&nbsp;
                </button>
            </div>
        </div>
    </div>
    <button id="btn-random" (click)="getRandomDrink()">
        <fa-icon icon="random"></fa-icon>
    </button>





</div>