<div class="mobile-container">
    <header>
        <input type="text">
        <button id="search">
            <fa-icon icon="search"></fa-icon>

        </button>
    </header>
    <div class="fav-container">
        <h3>Favorite Cocktails</h3>
        <div class="fav-drinks">
            <div class="fav-drink"><img
                    src="https://www.thecocktaildb.com/images/media/drink/tsxpty1468923417.jpg/preview" alt="">
                <div>Test</div>
            </div>
            <div class="fav-drink"><img
                    src="https://www.thecocktaildb.com/images/media/drink/ek0mlq1504820601.jpg/preview" alt="">
                <div>Test</div>
            </div>
            <div class="fav-drink"><img
                    src="https://www.thecocktaildb.com/images/media/drink/xxsxqy1472668106.jpg/preview" alt="">
                <div>Test</div>
            </div>
            <div class="fav-drink"><img
                    src="https://www.thecocktaildb.com/images/media/drink/xxsxqy1472668106.jpg/preview" alt="">
                <div>Test</div>
            </div>
            <div class="fav-drink"><img
                    src="https://www.thecocktaildb.com/images/media/drink/xxsxqy1472668106.jpg/preview" alt="">
                <div>Test</div>
            </div>
            <div class="fav-drink"><img
                    src="https://www.thecocktaildb.com/images/media/drink/xxsxqy1472668106.jpg/preview" alt="">
                <div>Test</div>
            </div>
            <div class="fav-drink"><img
                    src="https://www.thecocktaildb.com/images/media/drink/xxsxqy1472668106.jpg/preview" alt="">
                <div>Test</div>
            </div>
        </div>
    </div>

    <div class="drinks">
        <div class="drink">
            <span class="random">Random Recipe</span>

            <div class="drink-header"><img src="https://www.thecocktaildb.com/images/media/drink/apictz1493069760.jpg"
                    alt="">
            </div>
            <div class="drink-body">
                <h4>Gin And Tonic</h4>
                <button>
                    <fa-icon icon="heart"></fa-icon>&nbsp;
                </button>
            </div>
        </div>
    </div>
</div>