<div class="container">
    <h1>
        <fa-icon icon="project-diagram"></fa-icon>
        Projects Currently under progress
    </h1>
    <div>
        <h2>Interactive Bar Chart (Mean Probability Comparison)</h2><br>
        <h3><a href="https://github.com/robertocannella/InteractiveBarChart/blob/master/main.py">code</a></h3>

        <youtube-player videoId="yd_d30QcIkw" suggestedQuality="highres" [width]="innerWidth" [startSeconds]="0">
        </youtube-player>

    </div>
    <div>
        Normal distribution data plotted against multiple distribution types<br>

        <youtube-player videoId="e5hnL8WXgtc" suggestedQuality="highres" [width]="innerWidth" [startSeconds]="0">
        </youtube-player>

        Normal distribution data plotted against uniform distribution data<br>

        <video width="350" controls>
            <source src="../../assets/movies/normal_vs_uniform_dist.mp4" type="video/mp4">

            Your browser does not support the video tag.
        </video>

    </div>
    <div>

        Ann Arbor Michigan Record Temp Comparsion:<br>
        <img src="../../assets/images/AnnArbor.png" width="400">

    </div>


    <mat-nav-list>



        <a href="https://o-store-e0c91.web.app" rel="noopener noreferrer" target='blank'>
            <mat-list-item>
                'Code With Mosh' 0-shop <br>(implemented using Angular 12 & Google FireStore)
            </mat-list-item>
        </a>
        <a href="#">
            <mat-list-item>
                FireStore Runner App
            </mat-list-item>
        </a>
        <a href="#">
            <mat-list-item>
                WordPress Journal
            </mat-list-item>
        </a>

    </mat-nav-list>
</div>