<div class=container>
    <span class="sub-header">
        <div class="t2">Projects</div>
    </span>
    <div class="linebreak"></div>
    <div>


        <p></p>
        <h2>Cocktail App</h2>



        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Details
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
                <mat-card-content>
                    <ul style="list-style: none; text-align: left;">
                        <li>Inspriation: <a href="https://www.youtube.com/channel/UCeU-1X402kT-JlLdAitxSMA">Florin
                                Pop</a></li>
                        <li>API: <a href="https://www.thecocktaildb.com/api.php?ref=public-apis">the CocktailDB</a>
                        </li>
                        <li>Date Coded: Feb 2022</li>
                        <li>Coding Time: 17 hrs</li>

                    </ul>
                </mat-card-content>
            </mat-card>
        </mat-expansion-panel>
        <br>
        <app-recipe style="display: flex; align-items: center; justify-content: center;"></app-recipe>
    </div>
    <br>
    <div class='linebreak'></div>
    <div>
        <h2>Interactive Bar Chart (Mean Probability Comparison)</h2><br>
        <h3><a href="https://github.com/robertocannella/InteractiveBarChart/blob/master/main.py">code</a></h3>

        <video width="80%" controls>
            <source src=" ../../assets/movies/mean_comparison.mov" type="video/mp4">

            Your browser does not support the video tag.
        </video>
    </div>
    <div>
        Normal distribution data plotted against multiple distribution types<br>

        <video width="80%" controls>
            <source src="../../assets/movies/animated_dist.mov" type="video/mp4">

            Your browser does not support the video tag.
        </video>
    </div>
    <div>

        Normal distribution data plotted against uniform distribution data<br>

        <video width="80%" controls>
            <source src="../../assets/movies/normal_vs_uniform_dist.mp4" type="video/mp4">

            Your browser does not support the video tag.
        </video>

    </div>



    <mat-nav-list>
        <a href="https://o-store-e0c91.web.app" rel="noopener noreferrer" target='blank'>
            <mat-list-item>
                'Code With Mosh' 0-shop <br>(implemented using Angular 12 & Google FireStore)
            </mat-list-item>
        </a>
        <a href="#">
            <mat-list-item>
                FireStore Runner App
            </mat-list-item>
        </a>
        <a href="#">
            <mat-list-item>
                WordPress Journal
            </mat-list-item>
        </a>

    </mat-nav-list>
</div>