<div class="container">
    <h1>
        <fa-icon icon="project-diagram"></fa-icon>
        Projects Currently under progress
    </h1>
    Ann Arbor Michigan Record Temp Comparsion:
    <img src="../../assets/images/AnnArbor.png" width="100%">
    <mat-nav-list>



        <a href="https://o-store-e0c91.web.app" rel="noopener noreferrer" target='blank'>
            <mat-list-item>
                'Code With Mosh' 0-shop <br>(implemented using Angular 12 & Google FireStore)
            </mat-list-item>
        </a>
        <a href="#">
            <mat-list-item>
                FireStore Runner App
            </mat-list-item>
        </a>
        <a href="#">
            <mat-list-item>
                WordPress Journal
            </mat-list-item>
        </a>

    </mat-nav-list>
</div>