<div class=container>
    <span class="sub-header">
        <div class="t2">Journal</div>
    </span>
    <div class='linebreak'></div>

    <!-- This button triggers the overlay and is it's origin -->
    <button mat-icon-button (click)="openDialog()" matTooltip="New Entry" (click)="isOpen = !isOpen" type="button">
        <fa-icon [icon]="isOpen ? 'minus' : 'plus'"></fa-icon>
    </button>

    <div class="container">
        <app-text-post></app-text-post>
        <app-image-post></app-image-post>
        <app-code-post></app-code-post>
    </div>

    <!-- /****  This template displays the overlay content and is connected to the button  ****/ -->

    <!-- <div cdkOverlayOrigin #trigger="cdkOverlayOrigin"></div>
    

 <ng-template cdkConnectedOverlay  [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen">
    <form (submit)="$event.preventDefault()">
        <mat-form-field appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput #first>
            <mat-hint>Autofilled!</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Last name</mat-label>
            <input matInput #last>
            <mat-hint>Autofilled!</mat-hint>
        </mat-form-field>
        <button mat-raised-button>Submit</button>
    </form>
    </ng-template> -->
    -->
</div>