<p></p>
<h2>DataPipes Software</h2>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Details
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
        <mat-card-content>
            This software allows for remote pipe monitoring on various plumbing/heating appliances, including
            temperature, humidity, flowrate, etc.
            <p>
            <ul style="list-style: none; text-align: left;">
                <li>Date Coded: March 2022</li>
                <li>Current total Coding Time: 10hrs</li>
            </ul>
        </mat-card-content>
    </mat-card>
</mat-expansion-panel>

<p></p>
This project as been moved <a href="https://www.aidatapipes.com">A.I. DataPipes.com</a>
<!-- <uL *ngFor="let tempObj of temperatureObject">
    <li>
        {{tempObj.id}} : {{tempObj.temperatureF}} {{tempObj.humidity}}
    </li>

</uL> -->