<h2>{{ title }}</h2>
<a class='ds-page-link' href='https://en.wikipedia.org/wiki/Array_data_structure'>Arrays</a> are the one of the most
fundamental data
structures. In
computer science, an array data structure, or simply an array, is a
data structure consisting of a collection of elements, each identified by at least one array index or key.
The simplest type of data structure is a linear array, also called one-dimensional array. Below is a visual
representation of a one-dimensional
array, along with numerous sorting algorithms.
<div class='linebreak-light'></div>
<!-- <button mat-button id='addSVGNode' color="primary" (click)="addElement()" aria-label="Add Random SVG Node Button">
    Add SVG2 Node
</button> -->

<button mat-button color='primary' [matMenuTriggerFor]="menu">Sort</button>
<mat-menu #menu="matMenu" [attr.disabled]="_buttons ?null:'true'">
    <button mat-menu-item [attr.disabled]="_buttons ? null:'true'" (click)="bubbleSort()"
        aria-label="Bubble Sort Button">Bubble Sort O(n<sup>2</sup>)</button>
    <button mat-menu-item [attr.disabled]="_buttons ? null :'true'" (click)="selectionSort()"
        aria-label="Selection Sort Button">Selection Sort O(n<sup>2</sup>)</button>
    <button mat-menu-item [attr.disabled]="_buttons ? null : 'true'" (click)="insertionSort()"
        aria-label="Insertion Sort Button">Insertion Sort O(n<sup>2</sup>)</button>
    <button mat-menu-item [attr.disabled]="_buttons ? null : 'true'" (click)="shellSort()"
        aria-label="Shell Sort Button">Shell Sort O(n<sup>2</sup>)</button>

    <button mat-menu-item [attr.disabled]="_buttons ? null : 'true'" (click)="mergeSort()"
        aria-label="Merge Sort Button">Merge SortO(n log n)</button>
    <!-- <button mat-menu-item [attr.disabled]="_buttons ? null : 'true'" (click)="traverse()"
        aria-label="Quick Sort Button">Quick Sort</button>
    <button mat-menu-item [attr.disabled]="_buttons ? null : 'true'" (click)="traverse()"
        aria-label="Counting Sort Button">Counting Sort</button>
    <button mat-menu-item [attr.disabled]="_buttons ? null : 'true'" (click)="traverse()"
        aria-label="Bucket Sort Button">Bucket Sort</button> -->
</mat-menu>
<button mat-button color="primary" (click)="obliterate()" aria-label="Obliterate Button">
    Obliterate
</button>
<button style="touch-action: manipulation;" mat-button color="primary" (click)="addRandomElement()"
    aria-label="Add Random Element Button">
    Append Element
</button>
<button mat-button color="primary" (click)="shuffle()" aria-label="Shuffle Button">
    Shuffle
</button>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Options
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
        <mat-card-content>
            <mat-form-field appearance="legacy">
                <mat-label>Color</mat-label>
                <mat-select [ngModel]="animationColor" (ngModelChange)="setColor($event)" name="sel2">
                    <mat-option *ngFor="let color of colors" [value]="
                        color.value">
                        {{color.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</mat-expansion-panel>
<div id='svg-array' style="border:1px solid grey;overflow:scroll;text-align:center">
    <!-- <div id='vec-scale-val-span'></div>  
    <div id='vec-scale-x-span'></div>
    <div id='vec-scale-y-span'></div> -->
</div>