<div class="container">


    <mat-list>
        <mat-list-item>
            <a href="  https://regexr.com/" target="_blank" rel="noopener noreferrer"> Regexr </a>
        </mat-list-item>
        <mat-list-item>
            <a href="ttps://www.datacamp.com/community/blog/python-numpy-cheat-sheet#gs.AK5ZBgE)">[Cheatsheet for
                Numpy]</a>
        </mat-list-item>
        <mat-list-item>
            <a href="https://www.datacamp.com/community/blog/pandas-cheat-sheet-python#gs.HPFoRIcs">[Cheatsheet for
                Datawrangling]</a>
        </mat-list-item>
        <mat-list-item>
            <a href="https://www.datacamp.com/community/blog/python-pandas-cheat-sheet#gs.oundfxM">[Cheatsheet for
                Pandas]</a>
        </mat-list-item>
        <mat-list-item>
            <a href="https://www.datacamp.com/community/blog/python-scipy-cheat-sheet#gs.JDSg3OI">[Cheatsheet for
                SciPy]</a>
        </mat-list-item>
        <mat-list-item>
            <a href="https://www.datacamp.com/community/blog/python-matplotlib-cheat-sheet#gs.uEKySpY">[Cheatsheet for
                Matplotlib]</a>
        </mat-list-item>
        <mat-list-item>
            <a href="https://markkurzejaumich.shinyapps.io/bivariate_analysis/">Box Plot Tool</a>
        </mat-list-item>

    </mat-list>
</div>