<div class="container">

<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Text Only Post</mat-card-title>
        <mat-card-subtitle>text subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam reprehenderit suscipit sed, fugit magni laudantium cum, voluptatem, repudiandae molestiae officia beatae veniam unde dignissimos voluptates quisquam officiis recusandae minima dolore expedita! Aliquid cupiditate eligendi repudiandae magnam animi inventore doloribus, ratione alias ipsum. Tempora, ratione inventore modi omnis explicabo mollitia in cupiditate fugiat. Voluptatibus officiis maxime soluta pariatur modi aliquam quasi laudantium hic maiores esse sequi libero quisquam commodi ratione eveniet perferendis nemo iste magni, non, voluptas corporis ad fugiat inventore. Odit rem esse doloribus exercitationem eos ipsam, ratione amet, et quidem cupiditate placeat est quisquam. Perferendis maiores optio debitis necessitatibus.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>

</div>