<mat-grid-tile-header>


    <h1 class="mat-display-3">
        <fa-icon icon="project-diagram"></fa-icon>Algorithms
    </h1>

</mat-grid-tile-header>


<mat-grid-list cols="2" rowHeight="2:3">
    <mat-grid-tile>
        <mat-card class="top-level-card">
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title>Linked Lists</mat-card-title>
                <mat-card-subtitle>Manuipulation</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/arrowset.jpg"
                alt="Photo 4 colored arrow sign vector created by ClassyCatStudio">

            <a href="https://crello.com/unlimited/stock-vectors/22144879/stock-vector-colored-arrow-sign-vector/">
                image rights </a>
            <mat-card-content>
                <p>
                    In this section we'll tackle array maniputlation algorithms.
                </p>
                <ul>
                    <li>Reverse an linked list</li>
                    <li>Remove duplicates in array</li>
                    <li>Swap nodes in pairs</li>
                </ul>

            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>

        <mat-card class="top-level-card">
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title>Arrays</mat-card-title>
                <mat-card-subtitle>Manuipulation</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/icon34224333.svg"
                alt="Photo Array Green and yellow modern 3d vector icon logo created by Infolight">
            <a
                href="https://crello.com/unlimited/stock-vectors/470913028/stock-vector-array-green-yellow-modern-vector/"></a>
            <mat-card-content>
                <p>
                    In this section we'll tackle array maniputlation algorithms.
                </p>
                <ul>
                    <li>Reverse an array</li>
                    <li>Remove duplicates in a sorted array</li>
                    <li>Swap nodes in pairs</li>
                </ul>

            </mat-card-content>
            <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions> -->
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>