<h1>Hello. </h1>
<p> &nbsp;&nbsp;&nbsp;
    Here you'll find areas I'm heavily focused on. Currently, I'm headed down a
    machine learning path. At a very
    high level, I'm grounding my understanding of data structures and algorithms. I am also broadening my knowledge in
    the Data Science Arena.
    <br>
</p>
<p>
    &nbsp;&nbsp;&nbsp;I have a fairly wide comprehension of Web Development, both front and back end.
    This web site -
    continuously
    evolving - consists of abilities and techniques I can implement. I'm always willing to discuss ways I can
    contribute to varied projects. Send a quick note. robertocannella@gmail.com Thanks!
</p>