<!-- <div id=slideset3>
    <div>
        <img class="carossel" src='../../assets/images/java-4.svg' />
    </div>
    <div>
        <img class="carossel" src='../../assets/images/python-5.svg' />
    </div>
    <div>
        <img class="carossel" src='../../assets/images/numpy-1.svg' />
    </div>
    <div>
        <img class="carossel" src='../../assets/images/php-1.svg' />
    </div>
    <div>
        <img class="carossel" src='../../assets/images/perl-programming-language.svg' />
    </div>
    <div>
        <img class="carossel" src='../../assets/images/logo-javascript.svg' />
    </div>
    <div>
        <img class="carossel" src='../../assets/images/angular-icon-1.svg' />
    </div>
    <div>
        <img class="carossel" src='../../assets/images/reactivex.svg' />
    </div>
    <div>
        <img class="carossel" src='../../assets/images/firebase-2.svg' />
    </div>
</div> -->

<div class="wrapper">
    <div><img class="svg-logo" src='../../assets/images/java-4.svg' /></div>
    <div><img class="svg-logo" src='../../assets/images/python-5.svg' /></div>
    <div><img class="svg-logo" src='../../assets/images/numpy-1.svg' /></div>
    <div><img class="svg-logo" src='../../assets/images/php-1.svg' /></div>
    <div><img class="svg-logo" src='../../assets/images/perl-programming-language.svg' /></div>
    <div><img class="svg-logo" src='../../assets/images/logo-javascript.svg' /></div>
    <div><img class="svg-logo" src='../../assets/images/angular-icon-1.svg' /></div>
    <div><img class="svg-logo" src='../../assets/images/firebase-2.svg' /></div>
    <div><img class="svg-logo" src='../../assets/images/reactivex.svg' /></div>
</div>
<h1>Hello. </h1>
<p> &nbsp;&nbsp;&nbsp;
    Thanks for visiting . Here you'll find areas I'm heavily focused on. Currently, I'm headed down a
    machine learning path. At a very
    high level, I'm grounding my understanding of data structures and algorithms. I am also broadening my knowledge in
    the Data Science Arena.
    <br>
</p>
<p>
    &nbsp;&nbsp;&nbsp;I have a fairly wide comprehension of Web Development, both front and back end.
    This web site -
    continuously
    evolving - consists of abilities and techniques I can implement. I'm always willing to discuss ways I can
    contribute to varied projects. Send a quick note. robertocannella@gmail.com Thanks!
</p>
<mat-nav-list>
    <a href="  https://regexr.com/" target="_blank" rel="noopener noreferrer">
        <mat-list-item>
            Regexr
        </mat-list-item>
    </a>
    <a href="https://www.hackerrank.com/robertocannella" target="_blank" rel="noopener noreferrer">
        <mat-list-item>
            <img class="svg-logo" src='../../assets/images/hackerrank.svg' /> HackerRank
        </mat-list-item>
    </a>
    <a href="https://www.leetcode.com/robertocannella" target="_blank" rel="noopener noreferrer">
        <mat-list-item>
            <img class="svg-logo" src='../../assets/images/leetcode.svg' /> LeetCode

        </mat-list-item>
    </a>
    <div class="footer">

        <a class="footer" href="https://iconscout.com/icons/leetcode" target="_blank">Leetcode Logo Icon</a> by
        <a href="https://iconscout.com/contributors/icon-54">Icon 54</a> on <a
            href="https://iconscout.com">Iconscout</a>

    </div>


</mat-nav-list>