<h2>{{ title }}</h2>
<a href='https://en.wikipedia.org/wiki/AVL_tree'>Named</a> after inventors Adelson-Velsky and Landis, the AVL tree is a
self-balancing binary search tree. The tool below
portrays the inner workings of an AVL tree. This AVL tree will keep the heights of each subtree from differing more
than one by preforming the required number of rotations.
<div class='linebreak-light'></div>
<form [formGroup]="control" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="legacy">
        <mat-label>Add a node:</mat-label>
        <input matInput id="addNode" type="number" formControlName="addNode">
    </mat-form-field>
    <button mat-icon-button type="submit" [disabled]="!control.valid" color="primary" aria-label="Submit Button">
        <fa-icon icon="check-circle"></fa-icon>
    </button>
</form>

<button mat-button color="primary" (click)="traverse()" aria-label="Traverse Button">
    Traverse
</button>
<button mat-button color="primary" (click)="obliterate()" aria-label="Obliterate Button">
    Obliterate
</button>
<button mat-button color="primary" (click)="addNode()" aria-label="Add Random Node Button">
    Add Random Node
</button>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Options
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
        <mat-card-content>

            <mat-button-toggle-group name="details" [(value)]='toggleGroupSelectedVal' aria-label="Details">


                <mat-button-toggle value="show-balance" (change)="toggleShowBalance()"
                    matTooltip="Display Balance Factor">Balance
                    Factor</mat-button-toggle>


                <mat-button-toggle value="show-height" (change)="toggleShowHeight()" matTooltip="Dispaly Node Heights">
                    Height</mat-button-toggle>


                <mat-button-toggle value="show-off" (change)="toggleToFalse()" matTooltip="Turn off details">None
                </mat-button-toggle>

            </mat-button-toggle-group>
            <div>

                <mat-label for="radius-slider">Raidus</mat-label>

                <mat-slider id="radius-slider" (input)="changeRadius($event.value)" [disabled]="disabled"
                    [invert]="invert" [max]="radiusMax" [min]="radiusMin" [(ngModel)]="radiusValue" [step]="step"
                    [thumbLabel]="thumbLabel" [tickInterval]="getSliderTickInterval()" [vertical]="vertical"
                    aria-labelledby="example-name-label">
                </mat-slider>
            </div>

            <div>
                <mat-label for="wing-span-slider">Wingspan</mat-label>
                <mat-slider id="wing-span-slider" (input)="changeTotalShift($event.value)" [disabled]="disabled"
                    [invert]="invert" [max]="wingspanMax" [min]="wingspanMin" [(ngModel)]="wingspanValue" [step]="step"
                    [thumbLabel]="thumbLabel" [tickInterval]="getSliderTickInterval()" [vertical]="vertical"
                    aria-labelledby="example-name-label">
                </mat-slider>
            </div>
        </mat-card-content>
    </mat-card>
</mat-expansion-panel>
<div id='mainsvg' style="border:1px solid grey;overflow:scroll;text-align:center">

</div>