

    <div>
        <h2 class="inline-heading">New Post</h2>
        <div class="post-buttons">
            <button type="button" mat-mini-fab>
                <mat-icon>thumb_up</mat-icon>
            </button>
        </div>
    
    </div>

<form  #f="ngForm" (ngSubmit)="save(f.value)" class="form">
    <mat-form-field class="full-width form-group" appearance="standard">
        <mat-label>Post Title</mat-label>
        <input matInput name="title" ngModel class="form-control" value="">
    </mat-form-field>

    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <!-- Generage this section with ngFor Directive -->
                <mat-form-field appearance="standard" class="full-width"  class="form-control">
                    <mat-label>Category</mat-label>
                    <mat-select name="category" ngModel class="form-control">
                        <mat-option value="coding">Coding</mat-option>
                        <mat-option value="recipies">Recipies</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td>
                <!-- Generage this section with ngFor Directive -->
                <mat-form-field appearance="standard" class="full-width">
                    <mat-label>Sub-Category</mat-label>
                    <mat-select name="subCategory" ngModel class="form-control">
                        <mat-option value="angular">Angular</mat-option>
                        <mat-option value="react">React</mat-option>
                        <mat-option value="vue">Vue</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
    </table>

    <p>
        <mat-form-field class="full-width" appearance="standard">
            <mat-label>Post</mat-label>
            <textarea matInput
                    ngModel 
                    name="post"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="5"
                    cdkAutosizeMaxRows="50">
            </textarea>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>autosize area</mat-hint>
        </mat-form-field>
    </p>
    <button mat-raised-button type="submit">save</button>
</form>