<div class=container>
    <span class="sub-header">
        <div class="t2">Statistical Methodology</div>
    </span>
    <div class="linebreak"></div>
    <div class='summary'>
        <mat-list>
            <mat-list-item>
                p-value
            </mat-list-item>
            <mat-list-item>
                pearson corrilation
            </mat-list-item>
            <mat-list-item>

            </mat-list-item>
        </mat-list>
    </div>
    <div>
        <span class="sub-header">
            <div class="t2">Analysis</div>
        </span>
        <div class="linebreak"></div>
        <div class='summary'>
            Ann Arbor Michigan Record Temp Comparsion:<br>
            <img class="image-padding" src="../../assets/images/AnnArbor.png" width=100%>
        </div>
        <div class='summary'>
            <a href="https://colab.research.google.com/drive/1yGf8L8mo1G-TRSkkHZJBCeWWt5vJC1fj?usp=sharing">NHANES Data
                Analysis 1</a>&nbsp;&nbsp;&nbsp;
            <a href="https://colab.research.google.com/drive/1JV8UZWWGPSEKqBlbj8hamNvL0XxdvgW3?usp=sharing">NHANES Data
                Analysis 2</a>
            <br>
        </div>

        <span class="sub-header">
            <div class="t2">Public Data</div>
        </span>
        <div class="linebreak"></div>
        <div>

            <div class='summary'>
                <a href="https://www.ncdc.noaa.gov/">NOAA</a>
            </div>
            <div class='summary'>
                <a href="https://data.oecd.org/">OECD</a>
            </div>
            <div class='summary'>
                <a href="https://www.cdc.gov/nchs/nhanes/index.htm">CDC</a>
            </div>

        </div>
    </div>
</div>